NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://singh385536_db_user:YfaCGRe9X3h9SDga@cluster0.sgaajom.mongodb.net/
CLIENT_URL=http://localhost:5173
JWT_SECRET=GHGHGVYUYVYUIYBINYUIBYUYBUNUBH

CLOUDINARY_CLOUD_NAME=dmk1rp22e
CLOUDINARY_API_KEY=746813792774518
CLOUDINARY_API_SECRET=z1Zde-MUBW7zUGWhfRYxw2fmZiM